section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

mat-list-item {
  border: 1px solid rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.87);
  background-color: white;
  font-size: 14px;
  display: block;
  margin: 3px 0 3px -12px;
  padding: 0;
  height: 70px;
  width: 400px;
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.buttons-fab {
  position: fixed;
  bottom: 32px;
  right: 32px;
}